<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.controlefinanceiro" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="29" />
	<application android:label="ControleFinanceiro.Android" android:theme="@style/MainTheme"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INSTALL_LOCATION_PROVIDER" />
	<uses-permission android:name="android.permission.LOCATION_HARDWARE" />
</manifest>